<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav th:fragment="navig" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{header.title}">Social Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ." id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" th:text="#{users.home}" th:href="'/users/'+${user.id}+'/home'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:text="#{users.profile}" th:href="'/users/'+${user.id}">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="" th:text="#{users.friends}" th:href="'/users/'+${user.id}+'/friends'">Friends</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="" th:text="#{users.transaction}" th:href="'/transactions/'+${user.id}">Transactions</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.language}">
                        Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/i18n(lang=en)}" th:text="#{header.lang.eng}">EN</a>
                        <a class="dropdown-item" th:href="@{/i18n(lang=es)}" th:text="#{header.lang.es}">ES</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Search..." th:placeholder="#{header.search}" aria-label="Buscar" th:aria-label="#{header.search}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:placeholder="#{header.search}" th:text="#{header.search}" th:action="@{/search}">Search</button>
            </form>
        </div>
    </nav>
</div>
</body>
</html>